[submodule "lib/sleepy-discord"]
	path = lib/sleepy-discord
	url = https://github.com/yourWaifu/sleepy-discord
[submodule "lib/curlpp"]
	path = lib/curlpp
	url = https://github.com/jpbarrette/curlpp.git
